@use '../../styles/fonts.scss' as *;
@use '../../styles/mediaQueries.scss' as *;

.root {
  @include marketplaceSmallFontStyles;

  margin-top: 6px;
  margin-bottom: 12px;
  color: var(--failColor);
  overflow: hidden;

  @include media-viewport-medium {
    margin-top: 6px;
    margin-bottom: 10px;
  }
}
