@use '../../styles/mediaQueries.scss' as *;
@use '../../styles/fonts.scss' as *;

.root {
  @include media-viewport-large {
    flex: 1;
    display: flex;
    height: 100%;
  }
}

.highSection {
  @include media-viewport-large {
    flex: 0.88;
  }
}

.lowSection {
  @include media-viewport-large {
    flex: 1;
  }
}

.highSection {
  background-color: var(--matterColorNear);

  @include media-viewport-large {
    order: 2;
  }
}

.lowSection {
  @include media-viewport-large {
    order: 1;
  }
}

.planDetails {
}

.formContainer {
  padding: 30px 24px 90px;

  @include media-viewport-medium {
    padding: 60px 0 170px;
    max-width: 465px;
    margin: auto;
  }
}

.pageTitle {
  @include marketplaceH1FontStyles;
  font-weight: var(--fontWeightSemiBold);
  margin-top: 0px;
  margin-bottom: 38px;

  @include media-viewport-large {
    margin-bottom: 60px;
  }
}

.separatedLine {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.or {
  font-size: 14px;
  font-weight: var(--fontWeightRegular);
  margin: 0 10px;
}

.line {
  border: 1px solid var(--matterColorNegative);
  flex: 1;
}

.socialLogin {
  padding: 15px 0;
}

.socialButton {
  position: relative;
  display: block;
  margin: 0 auto 5px;
  width: 326px;
  border: 1px solid var(--matterColorNegative);
  background-color: transparent;
  color: var(--matterColor);
  font-size: 14px;
}

.icon {
  position: absolute;
  left: 18px;
  width: 16px;
  height: 16px;
}

.facebookIcon {
  position: absolute;
  left: 18px;
  width: 17px;
  height: 17px;
}

.facebookIcon path {
  fill: #4267b2;
}

.error {
  font-size: 14px;
  font-weight: var(--fontWeightRegular);
  color: var(--failColor);
}
