@use '../../styles/fonts.scss' as *;
@use '../../styles/mediaQueries.scss' as *;

.root {
}

.heroImageContainer {
  display: flex;
  height: 500px;
  justify-content: center;
  align-items: center;
  background-image: url('../../assets/hero-image-mobile.jpg');
  background-size: cover;
  background-position: center;

  @include media-viewport-medium {
    background-image: url('../../assets/hero-image.jpg');
    background-position: top;
    height: 880px;
  }

  @include media-viewport-larger {
    height: 880px;
  }
}

.content {
  width: 220px;
  margin: auto;

  @include media-viewport-medium {
    width: auto;
    max-width: 880px;
  }
}

.title {
  @include marketplaceHeroTitleFontStyles;
  margin-top: 0;
  text-shadow: 2px 2px rgba($color: #000000, $alpha: 0.5);
  font-family: 'Inter', sans-serif;
  text-align: center;
  color: var(--matterColorLight);
}

.callToAction {
  width: 243px;
  margin: auto;

  @include media-viewport-medium {
    width: 350px;
  }

  @include media-viewport-larger {
    width: 486px;
  }
}

.heroLogosContainer {
  // Size
  height: 231px;

  // Layout
  margin-top: 20px;
  margin-left: 2px;

  @include media-viewport-medium {
    margin: 60px 60px 0;
    // Size
    height: 200px;
  }

  @include media-viewport-large {
    margin: 60px 60px 0;

    // Size
    height: 240px;
  }
}
